<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{DEFAULT} %level %logger - %msg%n"/>
        </Console>
        <RollingFile name="codveFileAppender" fileName="../logs/Spring.log"
                     filePattern="../logs/Spring-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%date{DEFAULT} -%level %location: %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="4" />
        </RollingFile>
    </appenders>
    <loggers>
        <root level="warn">
            <appender-ref ref="Console" />
            <appender-ref ref="codveFileAppender" />
        </root>
        <logger name="com.codve" level="info" />
        <logger name="org.apache" level="info" />
        <logger name="org.springframework" level="info" />
    </loggers>
</configuration>